.leaflet-div-icon {
    width: 50px;
    height: 10px;
    color: red;
}

.myCSSClass {
  background: green;
  border: 2px solid cyan
}
.leaflet-tooltip-left.myCSSClass::before {
  border-left-color: cyan;
}
.leaflet-tooltip-right.myCSSClass::before {
  border-right-color: cyan;
}

.markerTooltip {
    color: red;
    border-width: 3px;
    border-color: black;
}

.netwerkDivIconSelected
{
  background:blue;
  border:10px solid rgba(255,255,255,0.5);
  color:blue;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:40px;
  line-width:30px;
  width:20px;
  height:20px;
}

.selectDivIcon {
  background: darkorange;
  border:10px solid rgba(255,0,128,0.5);
  text-align: left;
  line-height: 0px;
  border-radius:50%;
}

.markerDivIcon {
  background: dodgerblue;
  border:10px solid rgba(255,128,0,0.1);
  text-align: left;
  line-height: 0px;
  border-radius:50%;
}

.netwerkDivIcon {
  background:green;
  background-size: 60px 60px;
  border:10px solid rgba(0,255,255,0.5);
  color:green;
  font-weight:bold;
  text-align:left;
  border-radius:50%;
  line-height:3px;
  width:180px;
  height:140px;
}
/*.myFietsrouteLayerClass {
  color: purple;
}*/