.leaflet-div-icon {
    width: 50px;
    height: 10px;
    color: red;
}

.myCSSClass {
  background: green;
  border: 2px solid cyan
}
.leaflet-tooltip-left.myCSSClass::before {
  border-left-color: cyan;
}
.leaflet-tooltip-right.myCSSClass::before {
  border-right-color: cyan;
}

.markerTooltip {
    color: red;
    border-width: 3px;
    border-color: black;
}

.netwerkDivIconSelected
{
  background:blue;
  border:10px solid rgba(255,255,255,0.5);
  color:blue;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:40px;
  width:20px;
  height:20px;
}

.selectDivIcon {
  background: darkorange;
  border:10px solid rgba(255,0,128,0.5);
  text-align: left;
  line-height: 0px;
  border-radius:50%;
}

.markerDivIcon:hover {
  border: 5px solid lawngreen;
}
.markerDivIcon {
  background: rgba(30, 144, 255,0.2);;
  padding: 3px;
  border: 5px solid rgba(30, 144, 255,0.9);
  text-align: left;
  line-height: 12px;
  border-radius: 40%;
}

.netwerkDivIcon:hover {
  border: 3px solid lawngreen;
}

.netwerkDivIcon {
  background: rgba(0, 179, 0, 0.2);
  background-size: 60px 60px;
  border: 3px solid rgba(0, 179, 0, 0.9);
  color:green;
  font-weight:bold;
  text-align:left;
  border-radius:50%;
  line-height:3px;
  width:180px;
  height:140px;
  margin-left: -10px;
  margin-top: -10px;
}
/*.myFietsrouteLayerClass {
  color: purple;
}*/

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
  background-color: #d9d9d9;
}

tr:nth-child(odd){
  background-color: #f2f2f2;
}

tr:hover {
  background-color:  #e6e6e6;
}

.td-fietsroute-type {
  text-align: center;

}
.td-fietsroute-knooppunt {
  text-align: center;
}

.td-fietsroute-length {
  text-align: right;
  padding-right: 16px;
}

#mapid {
  /*display: inline-block;*/
  float: left;
  width: 75%;

}

#route-info {
  /*display: inline-block;*/
  float: right;
  width: 20%;
  height: 800px;
}

.route-message {
  /*display: inline-block;*/
  float: right;
  width: 20%;
}

#mijn-route {
  /*display: inline-block;*/
  float: right;
  width: 20%;
}

.control-section {
  float: top;
}